.accueil-container {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.accueil-content {
	background-color: #444444;
	width: 70%;
	border-radius: 1rem;
	padding: 1rem;
}

.accueil-content-title {
	text-align: center;
	margin-bottom: 1rem;
}

.accueil-content-separator {
	border-color: #f2561d;
}
