<div class="accueil-container">
	<div class="accueil-content">
		<h2 class="accueil-content-title">Bienvenue sur ZST</h2>
		<hr class="accueil-content-separator" />
		<p class="accueil-content-description">
			Ce site a pour objectif de regrouper tous les secrets des cartes
			Zombies des jeux Call of Duty. Vous y trouverez des guides
			détaillés, étape par étape, pour accomplir ces easter eggs, avec des
			recommandations sur la manche idéale pour chaque étape. Que vous
			soyez un nouveau joueur ou un vétéran des Zombies, cette plateforme
			est conçue pour vous aider à réussir tous les secrets et à profiter
			pleinement de l’expérience du Zombies.
		</p>
	</div>
</div>
