.header-section {
    background-color: #F2884B;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}

.header-logo {
    margin-right: auto;
    width: 5rem;
    height: 5rem;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 769px) {
    .header-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }

    .header-menu--element {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .header-menu--element-link {
        width: 100%;
        text-decoration: none;
        color: black;
        background-color: #F2561D;
        border: none;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu--element-link:hover {
        border-bottom: solid;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }
}

.header-link {
    text-decoration: none;
    cursor: pointer;
}
