.map-card-container {
    background-color: #333333;
    display: flex;
    border: solid;
    width: 40vh;
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.map-card-title {
    margin: 0;
}

.map-card-image {
    width: 15vh;
    height: 15vh;
}

.map-card-link {
    color: white;
    background-color: #F2561D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.map-card-link:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
}
